body {
    margin: 0;
    background-color: #B2DFDB;
}

#search-container {
    width: 200px;
    position: relative;
}

#search-container>input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

#search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 7px;
    z-index: 10;

}